a{
    &:hover{
        text-decoration: none;
    }
}
.header{
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 0;
    background-image: url('../img/online-marketing-agentur-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    .section-links{
        height: 66px;
        overflow: hidden;
        width: 100%;
        zoom: 1;
        float: left;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        @media (min-width: 100px) and (max-width: 991px) {
            height: auto !important;
        }
        .links{
            @media (min-width: 100px) and (max-width: 991px) {
                ul{
                    background-color: #fff;
                    max-width: 300px;
                    margin: 20px 0 20px auto;
                    padding: 10px 20px;
                    border-radius: 20px;
                    box-shadow: 1px 1px 15px #999;
                    li{
                        margin-bottom: 5px;
                    }
                }
            }
            text-align: right;
            a{
                font-weight: 500;
                color: #000;
                font-size: 20px;
                padding-left: 50px;
                text-transform: uppercase;
                &:visited{
                    text-decoration: none;
                    outline: 0;
                }
                &:hover{
                    color: #fb0303;
                }
            }
        }
    }
    .section-header-middle{
        .form{
            padding: 40px 0;
            form{
                padding: 20px 0;
                max-width: 500px;
                margin: auto;
            }
            .btn-submit{
                background-color: red;
                border: 0;
                color: #fff;
                padding: 10px 20px;
            }
        }
        .link-login{
            padding: 40px 0 0;
            a{
                color: red;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}
.section-copyright{
    padding-top: 60px;
    margin-bottom: 40px;
    .content{
        text-align: center;
        color: #888;
        a{
            color: #888888;
            &:hover{
                color: red;
            }
        }
    }
}
